:root {
  --txt: #292d33;
  --txt2: #828a99;
  --main: #5c8ee5;
  --sep: #ebebf0;
  --white: #fff;
  --bg: #fafbfc;
  --sep-opacity: rgba(235, 235, 240, 0.2);
  --bg2: #f0f2f5;
  --sep2: #e4e4eb;

  --transition-duration: 0.3s;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
}

/* img {
  display: block;
  width: 100%;
  object-fit: cover;
} */

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--txt2);
}

.btn {
  padding: 34px 50px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
  background-color: var(--main);
  flex-shrink: 0;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.btn:hover {
  background-color: #3a71d1;
}

.header__logo {
  padding-inline: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #615a5a;
  border-bottom: 1px solid var(--sep-opacity);
}

.header__nav-list {
  padding: 0 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-basis: 100%;
  color: var(--white);
}

.header__phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__phone-link {
  color: #fff;
}
